!!!
%html
  %head
    %title Pick me!
    %meta{ :name => "description", :content => "Picking a starting player" }
    %meta{ :name => "Errin Larsen", :name => "author" }
%body
  .topbar
    .fill
      .container
        %a(href="/" class="brand") Pick me!

  .container
    .content
      = yield
